/* * {
  border: 1px solid red;
} */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  .responsive-image {
    display: none !important;
  }
}

.layer1 {
  background-image: url("/icons/layered-waves-haikei.svg");
}

.wave .shape-fill {
  fill: #001220;
}
.wave .shape-fill-2 {
  fill: #ffffff;
}
